/* Styles Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting the font size to 10px for easy calculations */
/* 10 % 16 * 100 = 62.5% */
:root {
  font-size: 62.5%;
}

/* Color Palette */
:root {
  --primary-main: #3ab3ff;
  --text-dark-01: #222;
  --secondary-dark: #ddd;
  --secondary-main: #efefef;
  --text-grey-01: #7e7e7e;
  --text-grey-02: #8e8e8e;
  --bg-light-1: #fff;
  --bg-light-2: #fafafa;
  --text-light: #fff;
  --text-dark-01: #222;
  --text-dark-02: #444;
  --text-dark-03: #666;
  --error-main: #F20000;
}

/* Type Scale */
:root {
  --fs-01: 2.281rem;
  --fs-02: 2.027rem;
  --fs-03: 1.802rem;
  --fs-04: 1.602rem;
  --fs-05: 1.484rem;
  --fs-06: 1.266rem;
  --fs-07: 1.125rem;
}

/* Spacing System */
:root {
  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem;
  --spacing-03: 0.5rem;
  --spacing-04: 0.75rem;
  --spacing-05: 1rem;
  --spacing-06: 1.5rem;
  --spacing-07: 2rem;
  --spacing-08: 2.5rem;
  --spacing-09: 3rem;
  --spacing-10: 4rem;
  --spacing-11: 5rem;
  --spacing-12: 6rem;
  --spacing-13: 10rem;
  --spacing-14: 16rem;
  --spacing-15: 32rem;
}

.App {
  width: min(90%, 760px);
  margin: var(--spacing-10) auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-06);
}

.main__header {
  display: flex;
  gap: var(--spacing-10);
  justify-content: space-between;
}

/* General Styles */

a {
  width: 100%;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn, input {
  border-radius: var(--spacing-03);
}

input {
  border: 1px solid var(--secondary-dark);
}

.btn:focus, 
input:focus, 
a:focus {
  outline: 3px solid rgba(0, 0, 0, 0.2);
}
